.homeHeader {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.homeTitle {
  font-size: 1.75rem;
  font-family: "PoppinsBold", sans-serif;
  color: #333;
  user-select: none;
}

.hospitalContent{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  column-gap: 40px;
}

.filterSelect {
  padding: .4rem .3rem;
  border-radius: 0.265rem;
  background-color: #F5F5F5;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

.filterSelect option {
  font-size: 0.925rem;
}

.filterSelect:focus {
  outline: none;
}