.hospitalContainer{
    display: flex;
    background-color: #F5F5F5;
    flex-direction: column;
    grid-column: span 1;
    margin-top: .5rem;
    margin-bottom: 1.25em;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    max-width: 370px;
}

.hospitalContainer:hover {
    background-color: #E0E0E0;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.4);
    transform: scale(1.05);
}

.hospitalContainer:nth-child(4) {
    margin-right: 0;
}

.hosp_ImageBox{
    position: relative;
    width: 100%;
    height: 10.625em;
}

.hospName{
    width: 90%;
    font-size: 22px;
    font-family: "PoppinsBold", sans-serif;
    color: #333;
}

.images{
    height: 100%;
    width: 100%;
    border-radius: 5px 5px 0px 0px;
    object-fit: cover;
    position: absolute;
}

.button{
    width: 60px;
    text-align: center;
    padding: 5px;
    border: none;
    color: #fff;
    font-weight: bold;
    border-radius: 5px;
    position: absolute;
    font-size: 12px;
    top: 80%;
    left: 73%;
    background-color: rgb(72, 72, 73);
}

.hosp_Description{
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    padding: .7rem;
}

.hosp_NameLocal{
    display: flex;
    flex-direction: row;
    align-items: center;
    font-size: 12px;
}

.hosp_distance{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    font-size: 14px;
    color:rgb(19, 18, 18);
}

.hosp_content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}